---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
  <div class="flex justify-between items-center">
    <a href="/">
      <h1 class="font-bold text-sm lg:text-lg tracking-wider">cedricdotcom</h1>
    </a>

    <ThemeIcon />
  </div>

  <div class="border mt-3"></div>
</nav>
